* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff; /* Blanco */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-content {
    width: 100%;
    max-width: 450px;
    background-color: #0f0fd8; /* Azul */
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 25px;
  }
  
  .form-content h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #e7eeeb; /* Blanco */
    position: relative;
  }
  
  .form-content h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #0000ff; /* Azul */
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .input-field {
    background-color: #7c7c8d; 
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;

  }

  
  
  input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #0000ff; 
    cursor: pointer; 
    
  }
  
 

  input::placeholder {
    margin-left: 15px;
    color: #c3c4d5; /* Azul pálido */
  }
  
  form p {
    color: #ffffff; /* Blanco */
    text-align: left;
    font-size: 13px;
    font-weight: bold; 
  }
  
  form a {
    color: #138be1; /* Azul */
    margin-left: 5px; 
    font-weight: bold;
  }
  
  .btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .btn-field button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: #0000ff; 
    color: #ffffff; 
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-weight: bold;
  }
  
  .input-group {
    height: 250px;
  }
  
  .btn-field button.disable {
    background-color: #ffffff;
    color: #0000ff;
  }